$spacings: 2, 4, 8, 16, 20, 24, 28, 32, 48;

.flexItem {
  &.itemBlock {
    width: 100%
  }
  @for $col from 1 to 12 {
    &.col#{$col}{
      $percentage: (100%/12)*$col;
      flex: 0 0 $percentage;
      max-width: $percentage;
    }
  }
}

.flex {

  display: inline-flex;
  @each $spacing in $spacings {
    &.spacing#{$spacing} {
      & > .flexItem:not(:last-of-type) {
        margin-right: #{$spacing}px;
      }
    }
  }

  &.wrap{
    flex-wrap:wrap;
  }

  &.block{
    display:flex;
    width:100%;
  }

  &.valignCenter{
    align-items: center;
  }

  &.alignCenter{
    justify-content: center;
  }
}

.flexCol {
  flex-direction: column;
  display: inline-flex;
  @each $spacing in $spacings {
    &.spacing#{$spacing} {
      & > .flexItem:not(:last-of-type) {
        margin-bottom: #{$spacing}px;
      }
    }
  }

  &.block{
    display:flex;
    width:100%;

  }

  &.valignCenter{
    justify-content: center;
  }

  &.alignCenter{
    align-items: center;
  }

}

