@import '../../../variables';


.inputSearch{
  cursor:pointer;
  padding:0 16px;
  display: flex;
  align-items:center;
  border:1px solid $color-gray-4;
  color:$color-gray-4;
  border-radius:8px;

  &:hover{
    border-color:$color-gray-3;

  }

  &.focused{
    border-color: $color-gray-2 ;
    color:$color-gray-2;
  }
}