@import '../../variables';

.input {
  border: 1px solid $color-gray-4;
  background-color: $color-body-background;
  padding: 0 8px;
  border-radius:8px;
  height:48px;

  &.transparent {
    outline: none;
    border-color: transparent;
    background-color: transparent;
    padding: 0;
  }

  &.block {
    width: 100%;
  }
}