@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;600&display=swap');
html{

    font-size:16px;
}
body{
    font-family: 'IBM Plex Sans', sans-serif;
}

.icon{
    vertical-align:middle;
}