$color-primary: blue;
$color-secondary: blue;
$color-list: blue;
$color-link:#ca116f;
$color-gray: #606060;
$color-gray-2: #808080;
$color-gray-3: #A0A0A0;
$color-gray-4: #D6D6D6;
$color-gray-5:#eaeaea;
$color-status-danger:#c33527;
$color-body-background:white;
$color-text:black,
